ion-content {
    --background: #f5f5f5;
}

div.main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px;
}

ion-card.formCard {
    max-width: 400px;
    width: 100%;
}

.ReactCollapse--collapse {
    transition: height 200ms ease-out;
}